* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, sans-serif;
}

body {
    background: #0f172a;
    color: white;
    display: grid;
    justify-content: center;
}

html {
    scroll-behavior: smooth; /* smooth scrolling */
}

section {
    scroll-margin-top: 100px;
}

.nav-main {
    display: flex;
    text-align: center;
    gap: 24px;
}

    .nav-main ul {
        list-style: none;
        display: flex;
        gap: 30px;
    }

    .nav-main a {
        text-decoration: none;
        color: white;
        font-weight: 500;
        opacity: 0.7;
        transition: opacity 0.2s ease;
    }

        .nav-main a:hover {
            opacity: 1;
        }

        .nav-main a.active {
            opacity: 1;
            border-bottom: 2px solid white;
            padding-bottom: 4px;
        }

.header-main {
    position: sticky;
    top: 0;
    background: rgba(15, 23, 42, 0.9);
    backdrop-filter: blur(8px);
    height: 60px;
    z-index: 1000;


    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

.header-logo {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 12px;
}

    .header-logo img {
        max-width: 42px;
        display: block;
    }

hr {
    border: none;
    height: 2px;
    background: rgba(255,255,255,0.1);
    margin: 60px 0;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {

    .product-list {
        grid-template-columns: 1fr;
    }
}

    p {
        margin-bottom: 30px;
        opacity: 0.7;
    }

    .header{
        display: flex;
    }


.product-list {
    display: grid;
    grid-template-columns: repeat(2,1fr); /* max 2 per row */
    gap: 20px;
}


.card {
    width: 100%;
    position: relative;
    transition: transform 0.2s ease, background 0.2s ease;
}

    .card img {
        width: 100%;
        display: block;
        border-radius: 12px;
    }

    .card:hover {
        transform: translateY(-3px);
    }

        .card:hover .overlay {
            opacity: 1;
        }

.overlay {
    position: absolute;
    inset: 0; /* shorthand for top/left/right/bottom */

    display: flex;
    justify-content: center; /* horizontal center */
    align-items: center; /* vertical center */

    text-align: center;
    background: rgba(0, 0, 0, 0.8); /* semi-transparent background */
    color: white;
    border-radius: 12px;
    opacity: 0;
    transition: opacity 0.13s ease;
}


footer {
    margin-top: 30px;
    justify-content: center;
    text-align: center;
}
